<mat-list>
    <mat-list-item>

        <button class="add" mat-flat-button color="primary">New recipe</button>
    </mat-list-item>

    <mat-list-item class="recipe-list" *ngFor="let recipe of recipes" class="example-card">
        <mat-card  >
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"><img style="width: 50px
; height: auto;" [src]="recipe.imagePath" alt="{{recipe.name}}"></div>
                <mat-card-title>{{recipe.name}}</mat-card-title>
                <mat-card-subtitle>{{recipe.description}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
        </mat-card>
    </mat-list-item>

</mat-list>
<mat-divider></mat-divider>

<div>

    <app-recipe-item></app-recipe-item>
</div>
